
html {
    font-size: 15pt;
}

.loginform ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.loginform{
    border: solid black 1px;
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}

label{
  margin-left: 100px;
}
input{
  float:right;
}
