body{
    width: 100%;
    height: auto;
    margin:auto;
    padding:auto;
    color: #191970;
    font-size: 14px;
    background: #F5F5F5;
}

.header{
    position: fixed;
    top:0px;
    border: 0px dashed white;
    background:#800000;
    height: 30px;
    border: 0px solid red;
    width: 100%;
    text-align: left;
    color:white;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 16px; 
    text-transform: uppercase;
    text-indent: 20px;
    padding-top: 5px;
}

.logoutButton{
    margin-left: 80%;
    margin-top: -20px;
}

.newItemButton{
    margin-left: 85%;
    margin-top: -20px;
}

nav{
    list-style: none;
    margin-top:0px;
    margin-left:-30px;
}

nav li{
    display: inline;
    text-align: left;
}

.items{
    border: 2px solid grey;
    height:auto;
    width:fit-content;
    margin:auto;
    margin-top: 50px;
}

/* Tables */
.tg  {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#aaa;
}

.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aaa;
    color:#333;
    background-color:#fff;
}

.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aaa;
    color:#fff;
    background-color:#f38630;
}

.tg .tg-baqh{
    text-align:center;
    vertical-align:top
}

.tg .tg-yw4l{
    vertical-align:top
}

.tg .tg-amwm{
    font-weight:bold;
    text-align:center;
    vertical-align:top
}